In [ ]:
# Manipulación de matrices
import pandas as pd
# Operaciones numéricas
import numpy as np

In [ ]:
# Leer el archivo nombre.csv y convertirlo en un df
df_base = pd.read_csv('nombre.csv')
# ver los primeros registros del df
df_base.head()

In [ ]:
# Mostrar información sobre el df creado
df_base.info()

Encontrando a Mary

El primer registro muestra que en el estado MO nacieron 611 mujeres llamadas Mary durante el año 1910. Ante esto podríamos plantearnos las siguientes interrogantes:

1. ¿Hay hombres llamados Mary?
2. ¿Cuál es la cantidad de hombres llamados Mary en cada estado?
3. ¿Cuál es la cantidad promedio de hombres llamados Mary en cada estado?
4. ¿Cuáles son los tres estados donde hay más hombres llamados Mary?

Vamos a resolver dichas interrogantes en el siguiente ejemplo.

Lo primero será obtener todos los registros de hombres llamados Mary en todo el conjunto de datos.

In [ ]:
# Las condiciones se definen como muestra el ejemplo
# Almacenamos el resultado del filtro en una nueva variable llamada df_mary
df_mary = df_base[
    (df_base['sex'] == 'M') &
    (df_base['name' == 'Mary'])
]

# Consultamos los primeros cinco registros
df_mary.head()

Los datos de sex y name ya no son relevantes para este set de datos, pues sabemos que todos son M y Mary respectivamente. Además, ya que no tendremos en cuenta el año para el análisis, tampoco vamos a necesitarlo.

Ya que únicamente necesitamos dos datos para el análisis, podemos crear otro df que contenga únicamente esos dos datos.

In [ ]:
# Generar un nuevo df
nuevo_df = df_mary[['state', 'quantity']]

nuevo_df.head()

Bonus:

Si quisiéramos saber cuántos hombres Mary han habido en total, podemos generar la sumatoria de forma similar a la estadística descriptiva.

In [ ]:
nuevo_df[['quantity']].sum()

Ahora que tenemos el set de datos que necesitamos, podemos agrupar la información para realizar el análisis propuesto. Los grupos
en un df se crean con el método groupby , indicando la serie por la que se desea agrupar.

Una vez se han agrupado, es necesario establecer una función de agregación, que servirá para establecer la forma de manipular los
datos no agrupados. Esta agregación se realiza con el método agg de un df agrupado, indicando como parámetro la función a
utilizar.

In [ ]:
# Agrupar por estado utilizando la función sum
estados_df = nuevo_df.groupby('state').agg('sum')
estados_df.head()

In [ ]:
# Consultar todos los registros
estados_df

In [ ]:
# Reto:
# Obtener la cantidad promedio de Mary por estado usando estados_df
estados_df = nuevo_df.groupby('state').agg('mean')
estados_df.head()

In [ ]:
# Ordenar el set de datos por la mayor cantidad, descendentemente
estados_df.sort_values('quantity', ascending==False)

In [ ]:
# Reto
# Obtener los 10 registros con la mayor cantidad de Mary
estados_df.sort_values('quantity', ascending=False).head(10)

In [ ]:
# Al utilizar una serie para agrupar un df, esa serie se convierte en el nuevo índice.
# Por ello es posible acceder por estado
estados_df.loc['CA']  #muestra la cantidad de elementos que hay en el df

In [ ]:
# Para convertir el índice en una columna del df, se puede generar uno nuevo aleatorio con reset_index
# Nota al uso de inplace=True para modificar el df
estados_df.reset_index(inplece=True)
estados_df

Finalmente, cualquier df puede ser exportado a diversos formatos. Por ejemplo, exportemos estados_df a un archivo de excel.

In [ ]:
estados_df.to_excel('estodos_mary.xlsx', index=None)

Otras preguntas a las que podemos responder utilizando estadística y Pandas.

• ¿Cuál es el año con la mayor cantidad de Maries en total?

• ¿Cuál es el estado que tiene làmenor cantidad de Maries en total?

• ¿Cuántos Maries nacieron entre el 2000 y el 2010 en total?

• ¿En qué año hubo más Maries en el estado de California?